SECRET_KEY=9943uiorl@3gwbmxqg(d8tcr*0hhq@=(hlk6fzc7k)fb7n5_h2
DEBUG=False
DATABASE_URL=postgresql://hotel_db_lfvd_user:HNkUche6lg9LYErckQSwNWaVPU6GVaws@dpg-d8ch54rtqb8s738h40s0-a.oregon-postgres.render.com/hotel_db_lfvd
